@charset "UTF-8";
/*公用方法 函数*/
html {
  font-family: Microsoft YaHei,Helvetica,STHeiti STXihei,Microsoft JhengHei, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/ }

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333333;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #f4422f; }

a:active {
  outline: 0; }

a:active {
  color: #e83825; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

input, button, select, textarea {
  -webkit-appearance: none; }

input, button, select, textarea:focus {
  border: 0;
  outline: none; }

.hide {
  display: none; }

.show {
  display: block; }

.none {
  display: none; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.c-white {
  color: #fff !important; }

.c-yello {
  color: #ffe513 !important; }

.c-blue {
  color: #00aaee !important; }

.c-red {
  color: #ff0000 !important; }

.c-gray {
  color: #333 !important; }

.c-gray-999 {
  color: #999 !important; }

.ver-middle {
  vertical-align: middle; }

.bg-yello {
  background: #ffe942 !important; }

.ver-top {
  vertical-align: top !important;
  width: 1.4rem; }
  
.clearfix:after{clear: both; content:" ";display:block; font-size:0;height:0;visibility:hidden;}
.clear{clear:both;height:0;line-height:0;overflow:hidden;overflow:hidden;font-size:0;}

/*开关按钮*/
.switch {
  display: inline-block;
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  width: 50px;
  height: 22px;
  background: #00aaee;
  position: relative;
  transition: all .3s; }
  .switch.off-bg {
    background: #999; }
  .switch .radius-wrap {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
    transition: all .3s; }

.radius {
  border-radius: 5px;
  -webkit-border-radius: 5px; }

/* 边距 5 10 15 20 25 30 */
.m5 {
  margin: 0.5rem !important; }

.m10 {
  margin: 1rem !important; }

.m15 {
  margin: 1.5rem !important; }

.m20 {
  margin: 2.0rem !important; }

.m25 {
  margin: 2.5rem !important; }

.m30 {
  margin: 3.0rem !important; }

.mt-25 {
  margin-top: -2.5rem !important; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 0.5rem !important; }

.mt10 {
  margin-top: 1.0rem !important; }

.mt15 {
  margin-top: 1.5rem !important; }

.mt-25 {
  margin-top: -2.5rem !important; }

.mt20 {
  margin-top: 2.0rem !important; }

.mt25 {
  margin-top: 2.5rem !important; }

.mt30 {
  margin-top: 3.0rem !important; }

.mt40 {
  margin-top: 4.0rem !important; }

.mt50 {
  margin-top: 5.0rem !important; }

.mb5 {
  margin-bottom: 0.5rem !important; }

.mb10 {
  margin-bottom: 1.0rem !important; }

.mb15 {
  margin-bottom: 1.5rem !important; }

.mb20 {
  margin-bottom: 2.0rem !important; }

.mb25 {
  margin-bottom: 2.5rem !important; }

.mb30 {
  margin-bottom: 3.0rem !important; }

.bt0 {
  border-top: 0 !important; }

.bb0 {
  border-bottom: 0 !important; }

.bl0 {
  border-left: 0 !important; }

.ml5 {
  margin-left: 0.5rem !important; }

.ml0 {
  margin-left: 0 !important;
  transition: margin-left .5s; }

.ml10 {
  margin-left: 1rem !important; }

.ml15 {
  margin-left: 1.5rem !important; }

.ml20 {
  margin-left: 2rem !important; }

.ml25 {
  margin-left: 2.5rem !important; }

.ml30 {
  margin-left: 3rem !important; }

.ml-12 {
  margin-left: -1.2rem !important; }

.mr5 {
  margin-right: 0.5rem !important; }

.mr10 {
  margin-right: 1.0rem !important; }

.mr15 {
  margin-right: 1.5rem !important; }

.mr20 {
  margin-right: 2.0rem !important; }

.mr25 {
  margin-right: 2.5rem !important; }

.mr30 {
  margin-right: 3.0rem !important; }

.p5 {
  padding: 0.5rem !important; }

.p10 {
  padding: 1.0rem !important; }

.p15 {
  padding: 1.5rem !important; }

.p20 {
  padding: 2.0rem !important; }

.p25 {
  padding: 2.5rem !important; }

.p30 {
  padding: 3.0rem !important; }

.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 0.5rem !important; }

.pt10 {
  padding-top: 1.0rem !important; }

.pt15 {
  padding-top: 1.5rem !important; }

.pt20 {
  padding-top: 2.0rem !important; }

.pt25 {
  padding-top: 2.5rem !important; }

.pt30 {
  padding-top: 3rem !important; }

.pt35 {
  padding-top: 3.5rem !important; }

.pt40 {
  padding-top: 4.0rem !important; }

.pt50 {
  padding-top: 5.0rem !important; }

.pad-5-10 {
  padding: 0.5rem 1.0rem !important; }

.pb5 {
  padding-bottom: 0.5rem !important; }

.pb10 {
  padding-bottom: 1.0rem !important; }

.pb15 {
  padding-bottom: 1.5rem !important; }

.pb20 {
  padding-bottom: 2rem !important; }

.pb25 {
  padding-bottom: 2.5rem !important; }

.pb30 {
  padding-bottom: 3.0rem !important; }

.pb50 {
  padding-bottom: 5.0rem !important; }

.pb60 {
  padding-bottom: 6rem !important; }

.pl5 {
  padding-left: 0.5rem !important; }

.pl10 {
  padding-left: 1.0rem !important; }

.pl15 {
  padding-left: 1.5rem !important; }

.pl20 {
  padding-left: 2.0rem !important; }

.pl25 {
  padding-left: 2.5rem !important; }

.pl30 {
  padding-left: 3.0rem !important; }

.pl35 {
  padding-left: 3.5rem !important; }

.pr5 {
  padding-right: 0.5rem !important; }

.pr10 {
  padding-right: 1.0rem !important; }

.pr15 {
  padding-right: 1.5rem !important; }

.pr20 {
  padding-right: 2.0rem !important; }

.pr25 {
  padding-right: 2.5rem !important; }

.pr30 {
  padding-right: 3.0rem !important; }

/*按钮*/
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="tel"] {
  border: 0; }

input[type="tel"]:focus {
  border: 0;
  outline: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, button, input, select, textarea, a {
  font-family: Microsoft YaHei,Helvetica,STHeiti STXihei,Microsoft JhengHei, Arial; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*按钮*/
input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"] {
  -webkit-appearance: none;
  outline: 0; }

button, input[type="button"], input[type="submit"] {
  line-height: normal !important; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.btn-quit{ color:#f4422f; text-align:center; background:#fff; border-radius:5px;     padding: .8rem 0; margin: 0 15px; display:block;}



.input-text, .btn, .input-text.size-M, .btn.size-M {
  font-size: 14px;
  height: 31px;
  *height: auto;
  line-height: 1.42857;
  padding: 4px; }

a.btn, a.btn.size-M, span.btn, span.btn.size-M {
  line-height: 21px; }

.btn, .btn.size-M {
  padding: 4px 12px; }

.input-text.size-MINI, .btn.size-MINI {
  font-size: 12px;
  height: 23px;
  padding: 1px 2px;
  line-height: 1.42857; }

a.btn.size-MINI, span.btn.size-MINI {
  line-height: 21px; }

.btn.size-MINI {
  padding: 1px 4px; }

.input-text.size-S, .btn.size-S {
  font-size: 12px;
  height: 27px;
  padding: 3px;
  line-height: 1.42857; }

a.btn.size-S, span.btn.size-S {
  line-height: 19px; }

.btn.size-S {
  padding: 3px 8px; }

.input-text.size-L, .btn.size-L {
  font-size: 16px;
  height: 41px;
  padding: 8px; }

a.btn.size-L, span.btn.size-L {
  line-height: 23px; }

.btn.size-L {
  padding: 8px 16px; }

.input-text.size-XL, .btn.size-XL {
  font-size: 18px;
  height: 48px;
  padding: 10px; }

a.btn.size-XL, span.btn.size-XL {
  line-height: 26px; }

.btn.size-XL {
  padding: 10px 24px; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -moz-padding-start: 10px;
  -moz-padding-end: 10px;
  border: solid 1px #ddd;
  background-color: #fff;
  width: auto;
  *zoom: 1;
  *overflow: visible;
  -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color 0.1s linear; }

/*按钮*/
.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
  -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear; }

.btn-block {
  display: block; }

a.btn:hover,
a.btn:focus,
a.btn:active,
a.btn.active,
a.btn.disabled,
a.btn[disabled] {
  text-decoration: none; }

.btn:active,
.btn.active {
  background-color: #ccc; }

.btn:first-child {
  *margin-left: 0; }

.btn.active, .btn:active {
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset; }

/*默认——灰色 通常用于取消*/
.btn-default {
  background-color: #e6e6e6; }

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #c7c7c7;
  border-color: #c7c7c7; }

/*主要——主色 通常用于确定、提交、购买、支付等*/
.btn-primary {
  color: #fff;
  background-color: #5a98de;
  border-color: #5a98de; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #6aa2e0;
  border-color: #6aa2e0; }

/*次要按钮*/
.btn-secondary {
  color: #fff;
  background-color: #80d4f8;
  border-color: #80d4f8; }

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #fff;
  background-color: #0f9ae0;
  border-color: #0f9ae0; }

/*成功*/
.btn-success {
  color: #fff;
  background-color: #5eb95e;
  border-color: #5eb95e; }

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #429842;
  border-color: #429842; }

/*警告*/
.btn-warning {
  color: #fff;
  background-color: #f37b1d;
  border-color: #f37b1d; }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  background-color: #c85e0b;
  border-color: #c85e0b; }

/*危险*/
.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c; }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #c62b26;
  border-color: #c62b26; }

/*链接*/
.btn-link {
  color: #0e90d2;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent; }

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active {
  color: #095f8a;
  text-decoration: underline;
  background-color: transparent; }

/*禁用状态*/
.btn.disabled {
  cursor: not-allowed;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none;
  pointer-events: none; }

/*空心效果*/
.btn-block {
  -moz-box-sizing: border-box;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

.btn-primary-outline {
  color: #5a98de;
  background-color: transparent;
  background-image: none;
  border-color: #5a98de; }

/*按钮组*/
.btn-group {
  font-size: 0; }

.btn-group .btn {
  margin-left: -1px; }

.btn-group .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-col-3 {
  width: 25%; }

.btn-col-6 {
  width: 50%; }

.btn-col-9 {
  width: 75%; }

.btn-col-12 {
  width: 100%; }

.btn-h50 {
  height: 50px;
  font-size: 1.6rem; }

/*下拉样式 Pull down styles */
#pullDown, #pullUp {
  height: 50px;
  line-height: 40px;
  font-size: 14px;
  color: #9a9a9a;
  text-align: center; }

#pullDown .pullDownIcon, #pullUp .pullUpIcon {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/pull-iconx.png) center 0 no-repeat;
  -webkit-background-size: 30px 60px;
  background-size: 30px 60px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms; }

#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0); }
  to {
    -webkit-transform: rotate(360deg) translateZ(0); } }
#wrapper {
  position: absolute;
  z-index: 1;
  top: 8.6rem;
  bottom: 0;
  left: 0;
  width: 100%; }
  #wrapper.top48 {
    top: 4.8rem; }

@media (min-width: 640px) {
  #wrapper {
    width: 640px;
    left: 50%;
    margin-left: -320px; } }
/*栅格化*/
.row {
  clear: both;
  overflow: hidden;
  width: 100%; }
  .row .col-1 {
    float: left;
    width: 8.333333333333332%; }
  .row .col-2 {
    float: left;
    width: 16.666666666666664%; }
  .row .col-3 {
    float: left;
    width: 25%; }
  .row .col-4 {
    float: left;
    width: 33.33333333333333%; }
  .row .col-5 {
    float: left;
    width: 41.6666666%; }
  .row .col-6 {
    float: left;
    width: 50%; }
  .row .col-9 {
    float: left;
    width: 75%; }
  .row .col-12 {
    float: left;
    width: 100%; }
  .row .block-center {
    margin: 0 auto; }

/*文字颜色*/
.c-gray-333 {
  color: #333 !important; }

.c-gray-666 {
  color: #666 !important; }

.ap-c3 {
  color: #333 !important; }

.ap-c6 {
  color: #666 !important; }

.ap-c9 {
  color: #999 !important; }

/*文字大小*/
.ap-fz1 {
  font-size: 1rem !important; }

.ap-fz11 {
  font-size: 1.1rem !important; }

.ap-fz12 {
  font-size: 1.2rem !important; }

.f12 {
  font-size: 1.2rem !important; }

.ap-fz13 {
  font-size: 1.3rem !important; }

.ap-fz14 {
  font-size: 1.4rem !important; }

.ap-fz16 {
  font-size: 1.6rem !important; }

.ap-fz18 {
  font-size: 1.8rem !important; }

/*文字居中*/
.ap-tc {
  text-align: center; }

/*行高*/
.ap-lh24 {
  line-height: 2.4rem !important; }

/*文字左，右，居中*/
.text-cen {
  text-align: center; }

.text-fl {
  text-align: left; }

.text-fr {
  text-align: right; }

.clear {
  clear: both; }

.h50 {
  height: 50px; }

.biao {
  padding: 1px 10px;
  color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  display: inline-block;
  font-size: 1rem; }
  .biao.purple {
    background: #ea5fee; }
  .biao.green {
    background: #94c550; }
  .biao.orange {
    background: #f6782e; }
  .biao.red {
    background: #f00001; }
  .biao.blue {
    background: #01aaef; }

/*# sourceMappingURL=base.css.map */
